
#resultsContainer {
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    height: 50%; /* Set the height to 50% to take up the bottom half */
}

.result-box {
    border: 10px solid #ccc; /* Reduce the border size */
    padding: 5px; /* Reduce the padding */
    margin-bottom: 5px; /* Reduce the margin */
    background-color: black;
    color: lawngreen;
}

.selected-result {
    color: white;
}